<section class="l-text-block-left">
	<div class="l-inner l-text-block-left__inner">
		<div class="l-text-block-left__col">
			<h1 class="l-text-block-left__title">{{ section.title }}</h1>
			<p class="l-text-block-left__desc">{{ section.desc }}</p>
			<div class="l-text-block-left__btn-wrapper">
				{% include '/src/templates/atoms/btn.twig' with {
					additionalClass: 'c-btn--primary',
					text: section.button.title
				} %}
				<a href="tel:{{ section.phone }}" class="l-text-block-left__btn">{{ section.phone }}</a>
			</div>
		</div>
		<div class="l-text-block-left__col">
			<img class="l-text-block-left__img" src="{{ section.img.url }}" alt="">
		</div>
	</div>
</section>
